.cabeçalho{background-color: #ffffff; color: rgb(6, 80, 12); display: flex; justify-content: space-around;}
.imagem-logo{width: 150px;px;}
.cabeçalho-lista{display: inline-block;margin:0 16px;}
.site{background-color: rgb(255, 255, 255); color :rgb(20, 83, 6);}